body {

  background-color: black;

}

h1 {

  color: white;

  margin-right: 100px;
  text-align: center;
}


#button1 {

  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  line-height: 1cm
  
}

#button2 {

  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  line-height: 1cm
  
}

#pic1 {

float: right;


}


