body {

  background-color: black;

}

h1 {

  color: white;

  margin-right: 100px;
  text-align: center;
}


#button1 {

  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  line-height: 1cm
  
}

#button2 {

  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  line-height: 1cm
  
}

#button3 {
  text-align: left;
  line-height: 1cm
  
}

#pic1 {

float: right;


}

#home {

  color: white;

  margin-right: 1300px;
  text-align: left;
}

#textcontent {

  color:#ffffff;
  font-family: Arial;
  position: fixed;
  bottom: 450;
  right: 0;
  width: 1550px;

}


#button4 {
  text-align: left;
  line-height: 1cm
  
}
